.bicicletas-bg:nth-child(odd){
  background: linear-gradient(to right, var(--cor-0) 35%, var(--cor-11) 0%);
}

.bicicletas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 20px;
}

.bicicletas-imagem{
  position: relative;
}

.bicicletas-imagem span{
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo{
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: flex-start;
}

.bicicletas-conteudo h2, .bicicletas-conteudo p{
  grid-column: 1/-1;
}

.bicicletas-conteudo h2{
  margin-bottom: 20px;
}

.bicicletas-conteudo h2::before{
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas p{
  margin-bottom: 2rem;
}

.bicicletas-conteudo li{
  display: flex;
}

.bicicletas-conteudo img{
  width: 24px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.bicicletas-conteudo a{
  place-self: end;
}

@media(max-width: 1100px){
  .bicicletas-bg:nth-child(odd){
    background: var(--cor-11);
  }

  .bicicletas{
    grid-template-columns: 1fr;
    padding: 40px;
  }

  @media(max-width: 600px){
    .bicicletas-conteudo{
      grid-template-columns: 1fr;
    }

    .bicicletas-conteudo a{
      justify-self: flex-start;
    }

    .bicicletas-conteudo ul{
      font-size: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
    }

  }
}