* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
  padding: inherit 20px !important;
}

.center2 {
  max-width: 1400px;
  margin: 0 auto;
}
